.extension {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.extension .search--input {}

.ant-space {
    margin-right: 90px;
}

.title {
    color: #cf2338;
}

.extension a {
    float: right;
}

.ant-select-arrow .anticon>svg {
    margin-top: 6px;
}

.search .anticon svg {
    margin-top: 4px;
}

.ant-space-item{
    margin-left: 24px;
}

/* .pagination > li > a {
  background-color: white;
  color: #cf2338;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: white;
  background-color: #cf2338;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: #cf2338 !important;
  border: solid 1px #cf2338 !important;
}

.pagination > .active > a:hover {
  background-color: #cf2338 !important;
  border: solid 1px #cf2338;
}

a.icon:first-child{
  margin-right: 20px;
} */

.ant-table-pagination.ant-pagination {
    color: red;
}

.ant-pagination-item-active {
    color: #fff;
    background: #c92c2c !important;
    border-color: #c92c2c !important;
}

.ant-pagination-item:hover {
    border-color: #c92c2c !important;
}

.ant-btn.ant-btn-default {
    color: red;
}

.ant-btn.ant-btn-default:hover {
    color: red;
    border-color: red;
}

button.ant-btn.ant-btn-text.btn--action__noborder,
button.ant-btn.ant-btn-text.btn--action__noborder:hover {
    border: none;
    background-color: white;
    margin-right: -12px;
}

button.ant-btn.ant-btn-text[disabled].btn--action__noborder svg.svg--check,
button.ant-btn.ant-btn-text[disabled].btn--action__noborder svg.svg--check:hover {
    border: none;
    background-color: white;
    /* color: rgba(212, 42, 42, .5) !important; */
    color: #d42a2a80 !important;
}

button.ant-btn.ant-btn-text[disabled].btn--action__noborder svg.svg--rotate,
button.ant-btn.ant-btn-text[disabled].btn--action__noborder svg.svg--rotate:hover {
    border: none;
    background-color: white;
    color: #2352eb80 !important;
}

.ant-btn.ant-btn-default:focus {
    color: red;
    border-color: red;
}

.ant-select-selection-item,
.ant-select-item.ant-select-item-option {
    color: #c92c2c !important;
}